{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block title_of_page %}
    <div>
       <h1 class="text-center">Вопрос № {{num_of_question}}</h1>
  </div>
{% endblock %}

{% block content %}
    <div style="width:60%;">
            <div>
          <table class="table">

              <thead>
                <tr>
                    {%for num in numbers_of_question %}
                  <th scope="col"><a href="{% url 'get_next_question' num %}">{{num}}</a></th>
                    {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
              </tbody>
            </table>
    </div>
  <div class="text-center">
      <h3>{{question.question}}</h3>
  </div>
  <div>
      {% if is_not_next_question %}
      <form method="get" action="{% url next_link next_question %}" onsubmit="validateForm(event)">
      {% endif %}
      {% if not is_not_next_question %}
      <form method="get" action="{% url 'end_test' %}" onsubmit="validateForm(event)">
      {% endif %}
      {% for answer in random_answers %}
    <label>
        <input type="checkbox"
            name="answers"
            value="{{ answer.id }}"
            {% if answer.is_checked %} checked {% endif %}>  {{answer.answer}}
    </label><br>
            {% endfor %}
    <button type="submit">{{next_link_name}}</button>
    </form>
</div>
    </div>
{% endblock %}








    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>